* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    height: 800px;
    background: url("img/hero image.png") no-repeat center/cover;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.header__nav {
    display: flex;
}

.nav-menu {
    padding-right: 20px;
    margin-top: 7px;
    display: flex;
    column-gap: 20px;
    border-right: 2px solid white;
    height: 50px;
    align-items: center;

}

.nav-img {
    display: flex;
    align-content: center;
    width: 19.98px;
    height: 17.11px;
}

.nav-contact {
    display: flex;
}

.nav-phone {
    color: #FFFFFF;
    margin-left: 30px;
    width: 160px;
}

.nav-button {
    margin: 10px 20px;
}

.header__main {
    display: flex;
}

.main-text {
    margin-top: 203px;
    font-weight: normal;
    color: #D67E35;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text h2 {
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    margin-left: 24px;
}

.main-text h1 {
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
}

.main-text p {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.main-text p::before, .main-text p::after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background-color: #C4C4C4;;
}
