.size {
    height: 300px;
    text-align: center;
}

.a {
    width: 100%;
    background-color: #6ba0c4;
}

.page {
    display: flex;
}

.b {
    width: 60%;
    align-items: stretch;
    background-color: #3cafaf;
}

.c {
    width: 40%;
    align-items: stretch;
    background-color: #afafaf;
}